# Fichiers R à ignorer
.Rhistory
*-*.Rhistory
.RData
.Rproj.user
.Ruserdata

# Fichiers système
.DS_Store
Thumbs.db

# Données (brutes ou générées)
raw_data/
Base de données générées/
*.xlsx
*.rds
*.csv
*.dta

# renv (ne pas versionner la bibliothèque locale)
renv/library/

# Fichiers reproductibles
**/figures/
**/outputs_html/
**/tables_reg/
**/*.tex

# Dossiers liés à la création des HTML
**/*_files/

# Fichiers intermédiaires
**/*.rmarkdown


